@import '_variables';

@mixin button-style(){
    background-color:$green-color;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
